html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

.titulo{
    color: #0077b6;
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: #187e29;
    font-size: 2rem;
}