:root{
    --blanco:#ffffff;
    --oscuro:#03053a;
    --primario:#9f7e13;
    --secundario:#000000;  
    --gris:#dadee3;
    --tamaño-fuente:16px;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto',sans-serif;
    font-size: var(--tamaño-fuente);

}


/*utilidades*/
.contenedor{
    width: 75%;
    margin: 0 auto;
}

.bg-secundario{
    background-color: var(--primario);
}


h1{
    font-size: 2.5rem;
}

h2{
    font-size: 1.8rem;
}

.titulo{
    color: var(--secundario);
    font-size: 3.8rem;
    text-align: center;
}

.titulo span{
    color: var(--primario);
    font-size: 2rem;
}

p{
    font-size: 2.6rem;
}


.navegación-principal{
    display: flex;
    justify-content: space-around;
    background-color: var(--primario);
}

.navegación-principal a{
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
}

.navegación-principal a:hover{
    color: var(--oscuro);
    background-color: var(--secundario);
}